apiVersion: v1
kind: Service
metadata:
  name: app
spec:
  selector:
    app: app
  ports:
    - port: 3000
      targetPort: 3000
  type: LoadBalancer

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app: app
spec:
  replicas: 5
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
  spec: 
    containers:
    - name: app
    image: jadson.sousamattos/gitlab-cicd-node:1.0
    # image: gcr.io/$GCP_PROJECT_ID/gitlab-cicd-node
    imagePullPolice: Always
    ports: 
    - containerPort: 3000


